2c_common
encoding
encoding_prev
marty_adt
marty_cpp
marty_csv
marty_decimal
marty_draw_context
marty_fs_adapters
marty_pugixml
marty_rcfs
marty_rich_text
marty_tr
marty_utf
marty_yaml_toml_json
nlohmann
pugixml
pugixml_all
sfmt
umba
